.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

th, 
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #b2e4d3;
  width: 25%;
}

form {
  width: 100%;
  padding: 10px;
  margin-right: 5px;
}

button {
  border-radius: 1rem;
  background-color: aqua;
  padding: 0.5rem;
  margin-left: 5px;
}

input {
  color: #1bc23f;
  height: 2rem;
  margin-right: 5px;
  border-radius: 5px;
}

h1, h2 {
  color: #1bc23f;
}

label {
  color: #1bc23f;
  padding: 1rem;
}

th {
  color: #1bc23f;
}
td {
  color: #000;
}